* {
	margin: 0;
	padding: 0;
	outline: none;
	user-select: none;
	transition: none;
	font-family: 'Comfortaa', sans-serif;
}

body {
	background: url('https://file.garden/ZqPrCJ2v7HmQTmrR/pexels-photospublic-33041.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: monospace;
	flex-direction: column;
}

.title {
	top: 0;
	position: absolute;
	margin-top: 1rem;
	font-size: 2rem;
	color: #000000a4;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	gap: 2rem;
	position: relative;
}

.magnifying {
	color: #000000a4;
	font-size: 1.7rem;
	margin-right: 0.5rem;
}

#search {
	padding: 1rem;
	border-radius: 0.2rem;
	border: 2px solid rgba(255, 255, 255, 0.2);
	background: transparent;
	backdrop-filter: blur(2rem);
	color: #000000a4;
	font-size: 1.3rem;
}

.card-img-top {
	width: 20rem;
	height: 20rem;
	backdrop-filter: blur(2rem);
	border-radius: 0.2rem;
	border: 2px solid rgba(255, 255, 255, 0.2);
	position: relative;
	z-index: 1;
	object-fit: cover;
	background: transparent;
}

.socials {
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	gap: 1rem;
	flex-direction: row;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.659);
	font-size: 2rem;
	width: 2.3rem;
	height: 2.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
}

i {
	transition: 0.3s ease;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
}

i[title] {
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
}

i[title]::after,
.discord[title]::after {
	content: attr(title);
	color: rgba(0, 0, 0, 0.9);
	opacity: 0;
	bottom: 0;
	transition: 0.3s ease;
	font-size: 0.6rem;
	position: absolute;
	pointer-events: none;
	right: -0.7rem;
	letter-spacing: 0.09rem;
	width: max-content;
	text-transform: lowercase;
}

.discord[title]::after {
	right: -5rem;
}

i[title]:hover::after {
	opacity: 1;
	bottom: 3rem;
}

.youtube:hover {
	color: #ff0000a8;
	backdrop-filter: blur(2rem);
}

.twitter:hover {
	color: #1da0f2a8;
	backdrop-filter: blur(2rem);
}

.discord:hover {
	color: #5439ccbe;
	backdrop-filter: blur(2rem);
}
